* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #795548;
    --primary-color-dark: #4b2c20;

    --secondary-color: #18ffff;
    --secondary-color-light: #76ffff;
    --secondary-color-dark: #00cbcc;

    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;


    --default-margins: 3.2rem;

    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.header {
    background-color: var(--primary-color);

    margin-bottom: var(--default-margins);
}

.header-top-line {
    height: 3.2rem;
    width: 100%;

    background-color: var(--primary-color-dark);
}

.header-margin {
    width: 80%;

    margin: 0 auto;
    padding: 1.5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
}


.main-nav {
    margin-bottom: var(--default-margins);
}

.main-nav-ol {
    width: 80%;
    margin: 0 auto;

    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    grid-auto-rows: minmax(10rem, 15rem);
    grid-gap: var(--default-margins);

    justify-content: center;
    justify-items: center;
    align-items: center;
}

.main-nav-ol-li {
    height: 100%;
    width: 100%;

    border-radius: 16px;
    background-color: var(--secondary-color);
}

.main-nav-ol-li-a {
    height: 100%;
    width: 100%;

    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav-ol-li:hover {
    background-color: var(--secondary-color-light);
}

.main-nav-ol-li:active {
    background-color: var(--secondary-color-dark);
}

.main-section {
    margin-bottom: var(--default-margins);
}

.main-section-arcticle {
    display: none;

    width: 60%;
    margin: 0 auto;

    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
}

.main-section-article-div {
    padding: 1rem 2rem;
}

h2 {
   margin-bottom: calc(var(--default-margins) / 2);
}

code, samp {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    display: block;
}


samp {
    background-color: rgba(0, 0, 0, .7);
    color: var(--primary-text-color);
}


article:target {
    display: block;
}

@media (max-width: 768px) {
    .main-section-arcticle {
        display: none;

        width: 80%;

    }
}